.col-md-6 {
    background-color: lightblue;
     border: 1px solid black;

}

.titulo
{
    text-align: center;
    color: white;

}

.tituloPrincipal
{
    text-align: center;
    color: black;
  
    
  
}
