.col-sm-6   {
    background-color: #29BBE7;
     border: 1px solid white;

}

.titulo
{
    text-align: center;
    color: white;
    font-size: 1.1em;
}

.tituloPrincipal
{
    text-align: center;
    color: blue;
   font-size: 1.5em;
}

.rodape
{
    text-align: left;
    color: blue;
   font-size: 0.7em;
}
.acao
{
    text-align: left;
    font-size: 0.7em;
}