.col-sm-6   {
    background-color: lightblue;
     border: 1px solid white;

}

.titulo
{
    text-align: center;
    color: white;

}

.tituloPrincipal
{
    text-align: center;
    color: black;
  
    
  
}
